<h1>Playlists#show</h1>
<p>Find me in app/views/playlists/show.html.erb</p>
<h1><%= @playlist.key %>, <%= @playlist.id %>, <%= @playlist.user1 %> <%= @playlist.user2 %></h1>
<pre>
<%= join_playlist_url(@playlist.id, key: @playlist.key) %>
	</pre>	