<% title "View playlist" %>
<div
  data-behavior="playlist-view"
  data-current-user="<%= current_user.id %>"
  data-other-user="<%= @other_user&.id %>"
  data-display-name-other="<%= @other_user&.display_name %>"
  data-full="<%= @playlist.full? %>"
  data-link="<%= join_playlist_url(@playlist.id, key: @playlist.key) %>"
  data-playlist-id="<%= @playlist.id %>"
  data-playlist-save-url="<%= save_playlist_url(@playlist) %>"
  data-last-synced-at="<% if current_user.last_synced_at %><%= current_user.last_synced_at %><% end %>"
  data-last-synced-at-other="<% if @other_user&.last_synced_at %><%= @other_user.last_synced_at %><% end %>"
  data-tracks="<%= @playlist.tracks.to_json %>">
</div>